@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800;900&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --black-color: #100f0f;
  --white-color: #e2dcc8;
  --primary-color: #0f3d3e;
  --box-shadow: 0px 10px 20px 0px rgba(95, 95, 95, 0.3);
}

input {
  outline: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--black-color);
}
.header {
  width: 100%;
}
.header-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 150px;
  color: var(--white-color);
  box-shadow: var(--box-shadow);
}
.logo-container {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  font-size: 20pt;
  font-weight: 600;
  cursor: pointer;
}
.logo-container img {
  width: 180px;
}
.header-nav__wrapper {
  display: flex;
  align-items: center;
}

.header-nav__list {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
  /* background-color: red; */
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  min-width: 150px;
  max-width: 220px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid var(--white-color);
  border-radius: 7px;
  cursor: pointer;
}
.nav-item:hover {
  color: var(--black-color);
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  /* transform: scale(1.05); */
}
.nav-item:hover .active {
  background-color: #666;
  color: white;
}

.header-nav__favorites {
  margin: 0 40px 0 20px;
  min-width: 60px;
  height: 40px;
  background-color: var(--white-color);
}
.header-nav__favorites img {
  width: 25px;
  height: 25px;
  fill: var(--white-color);
  color: var(--white-color);
}

/* search-block */
.search-form {
  position: relative;
  /* display: inline-block; */
}
.search-input {
  padding: 20px 60px 20px 20px;
  width: 230px;
  height: 30px;
  border-radius: 7px;
  border: none;
  font-size: 14pt;
  background-color: var(--white-color);
}
.search-input:hover {
  box-shadow: var(--box-shadow);
}
.search-btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5%;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

/* main */

.movie {
  box-sizing: border-box;
  margin: 50px 0;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding: 30px 150px;
}

.movie__card {
  box-sizing: border-box;
  position: relative;
  margin: 50px 10px;
  color: var(--white-color);
  max-width: 100%;
  min-width: 300px;
}
.movie__card:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.movie__card-block {
  width: 300px;
}
.block-left {
  height: 150px;
}
.block-top {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 2;
}
.title {
  font-size: 16pt;
  height: 50px;
}
.movie__card-img {
  width: 300px;
  max-height: 420px;
}
.icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 16pt;
  font-weight: 500;
  /* border-radius: 7px; */
  box-shadow: var(--box-shadow);
}
.years {
  font-size: 14pt;
  font-weight: 400;
}
.genre {
  font-size: 14pt;
  font-weight: 400;
}
